.container-login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #2F3940;
}

.form-login{
    margin-top: 30px;
}

.logo-login{
    height: 60px;
}


.title-login{
    margin-top: 10px;
    font-size: 26px;
    font-weight: 600;
    color: #F2F2F2;
}

.label-login{
    color: #D3D3D3;
    font-size: 12px;
}

