* {
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

body{
  background-color: #E5E5E5;
}

label{
  display: flex;
  margin-bottom: 2px;
}

li{
  list-style: none;
}

li:hover{
  opacity: 60%;
}

.body-container {
  display: block;
  align-items: center; /* Ou outro valor para alinhar verticalmente */
  margin-left: 16%;
  margin-right: 1%;
  /* Outros estilos CSS necessários */
}

a{
  text-decoration: none;
  color: inherit;
  
}